@charset 'UTF-8';

*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body{
	font-size: 18px;
	line-height: 1.6;
	background-image: linear-gradient(135deg, #000 0%, #222 100%);	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

main{
	opacity: 0;
	display: none;
	transition: opacity 2s ease-in;
}

h1{
	font-size: 40pt;
	align-content: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}




.loader{
	height: 50px;
	transform-origin:bottom center;
	animation: rotate 3s linear infinite;
}

.circle{
	display: inline-block;
	background: #2196F3;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: scale(0);
	animation: grow 1.5s linear infinite;
	margin: -10px;
}

.circle:nth-child(2){
	background: #f1f1f1;
	animation-delay: 0.75s;
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

@keyframes grow{
	50%{
		transform: scale(1);
	}
}