@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Mansalva|Oswald|Quicksand&display=swap');

*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body{
	background: #000;
	overflow-x: hidden;
	color: #fff;
	min-height: 100vh;
	overflow-y: hidden;
}

li{
	display: inline-block;
	padding: 1px;
	margin-right: 5px;
	margin-left: 5px;
}

a{
	text-decoration: none;
	cursor: pointer;
	font-family: fantasy;
	color: #fff;
	font-size: 26pt;
}

a:hover{
	color: red;
}

nav{
	width:100vw;
	height: 10vh;
	padding: 10px;
}

#logo{
	height: 20%;
	width: auto;
}

main{
	min-height: 100vh;
	opacity: 1;
	display: block;
}

.card{
	background: #f1f1f1;
	height: 300px;
	width: 250px;
	opacity: 0.6;
	padding: 10px;
	margin: 10px;
	color: #000;
}

h3{
	font-size: 24pt;
	font-family: 'Be Vietnam', sans-serif;
	text-shadow: red 1px 0.5px;
}

p{
	font-family: 'Quicksand', sans-serif;
	font-weight: 10pt;
	font-size: 14pt;
}

#title-name{
	font-size: 26pt;
	font-family: 'Oswald', cursive;
	top: -12px;
	position: relative;
	margin-left: 78vw;
}


footer{
	width:100vw;
	height: 10vh;
	padding: 10px;
	position: absolute;
	bottom: 0;
}

#mobile-content{
	display: none;
}

@media (max-width:800px){
	li{
		display: none;
	}

	#title-name{
		display: none;
	}

	#mobile-content{
		display: block;
	}

	body{
		overflow-y: visible;
	}

}